body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.logo {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding-left: 24px;
    float: left;
    align-items: center;
}
.logo img {
    height: 40px;
}
.logo h1 {
    color: black;
    font-weight: bold;
    font-size: 32px;
}
.logo h2 {
    color: gray;
    font-weight: bold;
    font-size: 32px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 100;
    background-color: white;
    
}
.navigation {
    color: black;
    font-size: 24px;
    padding-right: 24px;
    float: inline-end;
}
.navigation nav {
    display: flex;
    padding-left: 16px;
    text-align: center;
}
.navigation a {
    width: 25%;
    transition: color 100ms linear;
    display: inline;
}
.navigation a:hover {
    color: lightskyblue;
}
.banner {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    margin: 32px 24px 32px 24px;
}
.banner img {
    width: 60%;
    padding: 32px 24px 32px 24px;
}
.banner-text h1 {
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.banner-text h3 {
    color: black;
    font-size: 30px;
    font-weight: normal;
}
.start-here {
    background-color: black;
    width: 200px;
    height: 24px;
    align-content: center;
}
.start-here h3 {
    color: white;
    font-size: 12px;
    text-align: center;
    align-content: center;
}
.second-section {
    background-color: white;
    height: 600px;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
}
.practising img {
    width: 60%;
}
.practising {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}
.practising h2 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    padding-bottom: 24px;
}
.practising h4 {
    color: black;
    font-size: 30px;
    padding-top: 24px;
}
.practising p {
    color: black;
    font-size: 30px;
    padding-top: 24px;
}