body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding-left: 24px;
    float: left;
}
.logo h1 {
    color: black;
    font-weight: bold;
}
.logo h2 {
    color: gray;
    font-weight: normal;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
     z-index: 100;
    background-color: white;
    
}
.navigation {
    text-align: right;
    color: black;
    font-size: 24px;
    padding-right: 24px;
}
.navigation nav {
    display: flex;
    padding-left: 16px;
    float: right;
    text-align: right;
}
.navigation a {
    width: 25%;
    transition: color 100ms linear;
}
.navigation a:hover {
    color: lightskyblue;
}
header .desktop {
    display: flex;
}
.banner {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner img {
    flex-basis: 60%;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner-text h1 {
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.banner-text h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.start-here {
    background-color: black;
    width: 200px;
    height: 24px;
}
.start-here h3 {
    color: white;
    font-size: 8px;
    align-items: center;
}