body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo h1 {
    color: black;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    display: inline;
}
.logo h2 {
    color: gray;
    font-size: 32px;
    font-weight: normal;
    text-align: left;
    display: inline;
}
header {
    height: 64px;
}
.logo img {
    padding: 24px;
    display: inline-block;
}
.navigation {
    text-align: right;
    color: black;
    font-size: 24px;
    padding: 24px;
    display: inline-block;
}
.navigation a {
    padding: 16px;
    width: 25%;
    transition: color 100ms linear;
}
.navigation a:hover {
    color: lightskyblue;
}